
<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">App XXX</a>
	</div>
	<div>
		<ul ng-if="loggedIn" class="nav navbar-nav">
			<li class="active"><a href="#dashboard">Tableau de bord</a></li>
			<li><a href="#">Mon compte</a></li>
			<li><a href="#">Paramètres</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ng-if="!loggedIn"><a href="#register"><span
					class="glyphicon glyphicon-user"></span> S'enregistrer</a></li>
					
			<li ng-if="!loggedIn"><a href="#login"><span
					class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
			
			<li ng-if="loggedIn" ng-click="logOut()"><a href="#"><span
					class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
		</ul>
	</div>
</div>
