
<div class="row" style="height: 100%">

<!-- ****************************************************************** -->
<!-- ************************** Left List ***************************** -->
<!-- ****************************************************************** -->

<section class="col-md-3" style="height: 100%">
	<div class="left-list">
		<button type="button" class="btn btn-info"
			style="margin-bottom: 10px;" data-ng-click="createPatient()">
			<span class="glyphicon glyphicon-user"></span> Nouveau patient
			{{test}}
		</button>
		<!--<h4 class="well well-sm well-green">Mes patients</h4>  -->
		<p>
			<input type="text" data-ng-model="patientsNameFilter"
				placeholder="Filtrer les noms..."> <br> Genre : <label
				class="checkbox-inline"><input type="checkbox" value="F"
				data-ng-model="patientsGenderFilter.women" checked>F</label> <label
				class="checkbox-inline"><input type="checkbox" value="M"
				data-ng-model="patientsGenderFilter.men" checked>M</label>

		</p>
		<ul class="list-group">
			<a class="list-group-item"
				data-ng-repeat="p in patients | orderBy : 'name.family[0]' | patientFilter : patientsNameFilter | genderFilter : patientsGenderFilter"
				data-ng-click="selectPatient(p._id)"
				data-ng-style="{'background-color' : bgColor(p._id)}">

				{{p.name.family[0].toUpperCase()}} {{p.name.given[0]}}
				({{p.gender}}), {{age(p.birthDate)}} ans </a>
		</ul>
	</div>
</section>

<!-- ****************************************************************** -->
<!-- *************************** Content ****************************** -->
<!-- ****************************************************************** -->

<section class="col-md-9"
	style="width: 75%; float: left; height: 100%; overflow-y: auto;">

	<!-- ******************* Error and confirmation messages ************** -->

	<div id="errorAlert" class="alert alert-danger"
		data-ng-show="error!=''">
		<button class="close" data-dismiss="alert" aria-label="close">&times;</button>
		{{error}}
	</div>
	<div id="confirmAlert" class="alert alert-success"
		data-ng-show="confirmation!=''">
		<button class="close" data-dismiss="alert" aria-label="close">&times;</button>
		{{confirmation}}
	</div>

	<!-- ******************************* Modals *************************** -->


	<patient-data-form></patient-data-form>
	<patient-form></patient-form>
	<condition-form></condition-form>


	<!-- ****************************************************************** -->
	<!-- ************************** Patient data ************************** -->
	<!-- ****************************************************************** -->

	<h3 class="well well-sm well-green" data-ng-show="patient">
		<button type="button" class="btn btn-danger btn-xs btn-float-right"
			data-ng-show="patient" data-ng-click="deletePatient()"
			style="border: 2px solid white;">
			<span class="glyphicon glyphicon-trash"></span> Supprimer ce dossier
			patient
		</button>
		{{patient.name.given[0]}} {{patient.name.family[0]}}
	</h3>

	<div class="panel panel-default" data-ng-show="patient && patient.hasBeenShared">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">
					<b>Code du dossier </b>
				</div>
				<div class="col-md-10" style="color:white;">{{patient.code}}</div>
			</div>
			<div class="row text-muted">
			<div class="col-md-12">Surligner le code pour le lire</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default" data-ng-show="patient"
		data-ng-init="collapseInfos=false">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-collapse-down"
				data-toggle="collapse" data-target="#patientInfos"
				data-ng-show="!collapseInfos"
				data-ng-click="collapseInfos = !collapseInfos"></span> <span
				class="glyphicon glyphicon-expand" data-toggle="collapse"
				data-target="#patientInfos" data-ng-show="collapseInfos"
				data-ng-click="collapseInfos = !collapseInfos"></span> Informations

			
			
			<button type="button" class="btn btn-default btn-xs btn-float-right"
				data-ng-show="serverConnection && patient && !patient.shared && !patient.hasBeenShared"
				data-ng-click="sharePatientInfo()">
				<span class="glyphicon glyphicon-cloud-upload"></span> Partager
			</button>

			<button type="button" class="btn btn-default btn-xs btn-float-right"
				data-ng-show="patient && !patient.shared && patient.hasBeenShared"
				data-ng-click="sharePatientInfo()">
				<span class="glyphicon glyphicon-cloud-upload"></span> Recommencer
				partage
			</button>

			<button type="button" class="btn btn-default btn-xs btn-float-right"
				data-ng-show="patient && patient.shared"
				data-ng-click="unsharePatientInfo()">
				<span class="glyphicon glyphicon-cloud"></span> Stop partage
			</button>
			
			
			<button type="button" class="btn btn-default btn-xs btn-float-right"
				style="margin-right:3px;"
				data-ng-show="serverConnection && patient && patient.shared && patient.lastUpdated > patient.lastShared"
				data-ng-click="upPatientInfoOnServer()">
				<span class="glyphicon glyphicon-transfer"></span> Synchro avec serveur
			</button>

		</div>
		<div id="patientInfos" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2">
						<b>Prénom </b>
					</div>
					<div class="col-md-10">{{patient.name.given[0]}}</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<b>Nom </b>
					</div>
					<div class="col-md-10">{{patient.name.family[0]}}</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<b>Âge </b>
					</div>
					<div class="col-md-10">{{age(patient.birthDate)}} ans</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<b>Date de naissance </b>
					</div>
					<div class="col-md-10">{{patient.birthDate| date :
						"dd-MM-yyyy"}}</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<b>Genre </b>
					</div>
					<div class="col-md-10">{{patient.gender}}</div>
				</div>
			</div>
			<div class="panel-footer">
				<a class="btn btn-info btn-xs" data-ng-click="editPatient()"> <span
					class="glyphicon glyphicon-pencil"></span> Modifier
				</a>
			</div>
		</div>
	</div>

	<!-- ********************************************************************** -->
	<!-- **************************** Lab Results ***************************** -->
	<!-- ********************************************************************** -->
	
	<div class="panel panel-default" data-ng-show="patient"
		data-ng-init="collapseData=false">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-collapse-down"
				data-toggle="collapse" data-target="#patientData"
				data-ng-show="!collapseData"
				data-ng-click="collapseData = !collapseData"></span> <span
				class="glyphicon glyphicon-expand" data-toggle="collapse"
				data-target="#patientData" data-ng-show="collapseData"
				data-ng-click="collapseData = !collapseData"></span> Résultats du
			laboratoire
		</div>
		<div id="patientData" class="panel-collapse collapse in">
			<div class="panel-body" style="max-height: 500px; overflow-y: auto;">
			
				<ul class="nav nav-pills">
				  <li data-ng-class="{ active: labTabActive('')}" 
				  data-ng-click="changeRecordForLab('')">
				  	<a href="">Mon dossier</a>
				  </li>
				  <li data-ng-repeat="record in records | orderBy: 'record.identifier[0].assigner.display'" 
				  data-ng-click="changeRecordForLab(record.id)"
				  data-ng-class="{ active: labTabActive(record.id)}">
				  	<a href="">{{record.identifier[0].assigner.display}}</a>
				  </li>
				</ul>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="fit">Date</th>
							<th>Type</th>
							<th class="fit">Valeur</th>
							<th class="fit">Origine</th>
							<th>Commentaire</th>
							<th class="fit" data-ng-show="labRecordId == ''"></th>
							<th class="fit" data-ng-show="patient.hasBeenShared && labRecordId == ''"></th>
							<th class="fit" data-ng-show="labRecordId != ''"></th>
						</tr>
					</thead>
					<tbody>
						<tr
							data-ng-repeat="result in labResults | orderBy: '-issued'">
							<td class="fit">{{result.issued | date :
								"dd-MM-yyyy"}}</td>
							<td>{{result.code.text}}</td>
							<td class="fit">{{result.valueQuantity.value}}
								{{result.valueQuantity.unit}}</td>
							<td class="fit">{{findOrigin(result.identifier)}}</td>
							<td class="col-md-4">{{result.comments}}</td>
							<td data-ng-show="labRecordId == ''"><button
									class="btn btn-danger btn-xs glyphicon glyphicon-remove fit"
									data-ng-click="deleteLabResult(result)"></button>
							</td>
							<td data-ng-show="labRecordId == '' && patient.hasBeenShared && !result.shared && !result.hasBeenShared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="shareLabResult(result)">
									<span class="glyphicon glyphicon-cloud-upload"></span>
									Partager
									</button>
							</td>
							<td data-ng-show="labRecordId == '' && patient.hasBeenShared && !result.shared && result.hasBeenShared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="shareLabResult(result)">
									<span class="glyphicon glyphicon-cloud-upload"></span>
									Re-partager
									</button>
							</td>
							<td data-ng-show="labRecordId == '' && patient.hasBeenShared && result.shared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="unshareLabResult(result)">
									<span class="glyphicon glyphicon-cloud"></span>
									Stop partage
									</button>
							</td>
							<td data-ng-show="labRecordId != '' ">
							<button class="btn btn-info btn-xs"
									data-ng-click="addObservationToEHR(result)">
									Ajouter à mon dossier</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer"  data-ng-show="labRecordId == ''">
				<button type="button" class="btn btn-info"
					data-ng-click="addData()">
					<span class="glyphicon glyphicon-plus"></span>Ajouter un résultat
				</button>
			</div>
		</div>
	</div>
	
	<!-- ********************************************************************** -->
	<!-- ***************************** Conditions ***************************** -->
	<!-- ********************************************************************** -->
	
	<div class="panel panel-default" data-ng-show="patient"
		data-ng-init="collapseConditions=false">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-collapse-down"
				data-toggle="collapse" data-target="#patientConditions"
				data-ng-show="!collapseConditions"
				data-ng-click="collapseConditions = !collapseConditions"></span> <span
				class="glyphicon glyphicon-expand" data-toggle="collapse"
				data-target="#patientConditions" data-ng-show="collapseConditions"
				data-ng-click="collapseConditions = !collapseConditions"></span> 
				Maladies
		</div>
		<div id="patientConditions" class="panel-collapse collapse in">
			<div class="panel-body" style="max-height: 500px; overflow-y: auto;">
			
				<ul class="nav nav-pills">
				  <li data-ng-class="{ active: conditionTabActive('')}" 
				  data-ng-click="changeRecordForCondition('')">
				  	<a href="">Mon dossier</a>
				  </li>
				  <li data-ng-repeat="record in records | orderBy: 'record.identifier[0].assigner.display'" 
				  data-ng-click="changeRecordForCondition(record.id)"
				  data-ng-class="{ active: conditionTabActive(record.id)}">
				  	<a href="">{{record.identifier[0].assigner.display}}</a>
				  </li>
				</ul>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="fit">Début</th>
							<th>Maladie</th>
							<th class="fit">Status</th>
							<th class="fit">Origine</th>
							<th>Commentaire</th>
							<th class="fit" data-ng-show="conditionRecordId == ''"></th>
							<th class="fit" data-ng-show="conditionRecordId == ''"></th>
							<th class="fit" data-ng-show="conditionRecordId == '' && patient.hasBeenShared"></th>
							<th class="fit" data-ng-show="patient.hasBeenShared && conditionRecordId == ''"></th>
							<th class="fit" data-ng-show="conditionRecordId != ''"></th>
						</tr>
					</thead>
					<tbody>
						<tr
							data-ng-repeat="c in conditions | orderBy: '-onsetDateTime' | filter: {clinicalStatus:'active'}">
							<td class="fit">{{c.onsetDateTime | date :
								"dd-MM-yyyy"}}</td>
							<td>{{c.code.text}}</td>
							<td class="fit">{{c.clinicalStatus}}</td>
							<td class="fit">{{findOrigin(c.identifier)}}</td>
							<td class="col-md-4">{{c.notes}}</td>
							<td data-ng-show="conditionRecordId == ''"><button
									class="btn btn-primary btn-xs glyphicon glyphicon-pencil fit"
									data-ng-click="editCondition(c)"></button>
							</td>
							<td data-ng-show="conditionRecordId == ''"><button
									class="btn btn-danger btn-xs glyphicon glyphicon-remove fit"
									data-ng-click="deleteCondition(c)"></button>
							</td>
							
							<td data-ng-show="conditionRecordId == '' && c.shared && c.lastUpdated > c.lastShared">
								<button type="button" class="btn btn-default btn-xs fit"
									data-ng-click="upConditionOnServer(c)">
									<span class="glyphicon glyphicon-transfer"></span> Synchroniser
								</button>
							</td>
							<td data-ng-show="conditionRecordId == '' && patient.hasBeenShared && !c.shared && !c.hasBeenShared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="shareCondition(c)">
									<span class="glyphicon glyphicon-cloud-upload"></span>
									Partager
									</button>
							</td>
							<td data-ng-show="conditionRecordId == '' && patient.hasBeenShared && !c.shared && c.hasBeenShared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="shareCondition(c)">
									<span class="glyphicon glyphicon-cloud-upload"></span>
									Re-partager
									</button>
							</td>
							<td data-ng-show="conditionRecordId == '' && patient.hasBeenShared && c.shared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="unshareCondition(c)">
									<span class="glyphicon glyphicon-cloud"></span>
									Stop partage
									</button>
							</td>
							<td data-ng-show="conditionRecordId != '' ">
							<button class="btn btn-info btn-xs"
									data-ng-click="addConditionToEHR(c)">
									Ajouter à mon dossier</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer"  data-ng-show="conditionRecordId == ''">
				<button type="button" class="btn btn-info"
					data-ng-click="createCondition()">
					<span class="glyphicon glyphicon-plus"></span>Ajouter une maladie
				</button>
			</div>
		</div>
	</div>	
		
	<!-- ********************************************************************** -->
	<!-- ***************************** History ******************************** -->
	<!-- ********************************************************************** -->
	
	<div class="panel panel-default" data-ng-show="patient"
		data-ng-init="collapseHistory=false">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-collapse-down"
				data-toggle="collapse" data-target="#patientHistory"
				data-ng-show="!collapseHistory"
				data-ng-click="collapseHistory = !collapseHistory"></span> <span
				class="glyphicon glyphicon-expand" data-toggle="collapse"
				data-target="#patientHistory" data-ng-show="collapseHistory"
				data-ng-click="collapseHistory = !collapseHistory"></span> 
				Antécédents
		</div>
		<div id="patientHistory" class="panel-collapse collapse in">
			<div class="panel-body" style="max-height: 500px; overflow-y: auto;">
			
				<ul class="nav nav-pills">
				  <li data-ng-class="{ active: historyTabActive('')}" 
				  data-ng-click="changeRecordForHistory('')">
				  	<a href="">Mon dossier</a>
				  </li>
				  <li data-ng-repeat="record in records | orderBy: 'record.identifier[0].assigner.display'" 
				  data-ng-click="changeRecordForHistory(record.id)"
				  data-ng-class="{ active: historyTabActive(record.id)}">
				  	<a href="">{{record.identifier[0].assigner.display}}</a>
				  </li>
				</ul>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="fit">Début</th>
							<th class="fit">Rémission</th>
							<th>Maladie</th>
							<th class="fit">Status</th>
							<th class="fit">Origine</th>
							<th>Commentaire</th>
							<th class="fit" data-ng-show="historyRecordId == ''"></th>
							<th class="fit" data-ng-show="historyRecordId == ''"></th>
							<th class="fit" data-ng-show="historyRecordId == '' && patient.hasBeenShared"></th>
							<th class="fit" data-ng-show="patient.hasBeenShared && historyRecordId == ''"></th>
							<th class="fit" data-ng-show="historyRecordId != ''"></th>
						</tr>
					</thead>
					<tbody>
						<tr
							data-ng-repeat="c in history | orderBy: '-onsetDateTime' | filter: {clinicalStatus:'resolved'}">
							<td class="fit">{{c.onsetDateTime | date :
								"dd-MM-yyyy"}}</td>
								<td class="fit">{{c.abatementDateTime | date :
								"dd-MM-yyyy"}}</td>
							<td>{{c.code.text}}</td>
							<td class="fit">{{c.clinicalStatus}}</td>
							<td class="fit">{{findOrigin(c.identifier)}}</td>
							<td class="col-md-4">{{c.notes}}</td>
							<td data-ng-show="historyRecordId == ''"><button
									class="btn btn-primary btn-xs glyphicon glyphicon-pencil fit"
									data-ng-click="editCondition(c)"></button>
							</td>
							<td data-ng-show="historyRecordId == ''"><button
									class="btn btn-danger btn-xs glyphicon glyphicon-remove fit"
									data-ng-click="deleteCondition(c)"></button>
							</td>
							
							<td data-ng-show="historyRecordId == '' && c.shared && c.lastUpdated > c.lastShared">
								<button type="button" class="btn btn-default btn-xs fit"
									data-ng-click="upConditionOnServer(c)">
									<span class="glyphicon glyphicon-transfer"></span> Synchroniser
								</button>
							</td>
							<td data-ng-show="historyRecordId == '' && patient.hasBeenShared && !c.shared && !c.hasBeenShared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="shareCondition(c)">
									<span class="glyphicon glyphicon-cloud-upload"></span>
									Partager
									</button>
							</td>
							<td data-ng-show="historyRecordId == '' && patient.hasBeenShared && !c.shared && c.hasBeenShared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="shareCondition(c)">
									<span class="glyphicon glyphicon-cloud-upload"></span>
									Re-partager
									</button>
							</td>
							<td data-ng-show="historyRecordId == '' && patient.hasBeenShared && c.shared"><button
									class="btn btn-default btn-xs fit"
									data-ng-click="unshareCondition(c)">
									<span class="glyphicon glyphicon-cloud"></span>
									Stop partage
									</button>
							</td>
							<td data-ng-show="historyRecordId != '' ">
							<button class="btn btn-info btn-xs"
									data-ng-click="addConditionToEHR(c)">
									Ajouter à mon dossier</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer"  data-ng-show="historyRecordId == ''">
				<button type="button" class="btn btn-info"
					data-ng-click="createCondition()">
					<span class="glyphicon glyphicon-plus"></span>Ajouter un antécédent
				</button>
			</div>
		</div>
	</div>	
		
		
	<!-- ********************************************************************** -->
	<!-- ***************************** Add record ***************************** -->
	<!-- ********************************************************************** -->
	
	<div class="panel panel-default" data-ng-show="patient && patient.hasBeenShared">
	    <div class="panel-heading">Récupérer un dossier</div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="form" data-ng-submit="addRecord(form);">
	            <div class="row" style="padding-top: 10px;">
	                <div class="col-xs-4" style="font-weight: bold;">Nom de famille du propriétaire du dossier</div>
	                <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">
	                <input type="text" class="form-control" id="docName" data-ng-model="newEhr.doctorName" required></div>
	            </div>
	            <div class="row" style="padding-top: 10px;">
	                <div class="col-xs-4" style="font-weight: bold;">Nom de famille du patient</div>
	                <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">
	                <input type="text" class="form-control" id="patientName" data-ng-model="newEhr.familyName" required></div>
	            </div>
	            <div class="row" style="padding-top: 10px;">
	                <div class="col-xs-4" style="font-weight: bold;">Prénom du patient</div>
	                <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">
	                <input type="text" class="form-control" id="patientFirstname" data-ng-model="newEhr.givenName" required></div>
	            </div>
	            <div class="row" style="padding-top: 10px;">
	                <div class="col-xs-4" style="font-weight: bold;">Code du dossier</div>
	                <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">
	                <input type="text" class="form-control" id="code" name="code" 
	                       data-ng-model="newEhr.code" data-ng-minlength="6" data-ng-maxlength="6" required></div>
	            </div>
	         <div class="text-left" style="padding: 0px 15px 5px 15px;">
	             <button type="submit" class="btn btn-sm btn-primary btn-raised">Ajouter</button>
	         </div>
	        
	        </form>
	    </div>
	</div>
	
	<div class="panel panel-default"  data-ng-show="patient && patient.hasBeenShared">
		<div class="panel-heading">Dossiers récupérés
		</div>
		<div class="panel-body">
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Propriétaire du dossier</th>
						<th>Patient concerné</th>
						<th>Révoquer mes droits au dossier</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="record in records">
						<td>{{record.identifier[0].assigner.display}}</td>
						<td>{{record.name.given[0]}} {{record.name.family[0]}}</td>
						<td><button
								class="btn btn-danger btn-xs glyphicon glyphicon-remove fit"
								data-ng-click="revokeMyRightToRecord(record.id)"></button>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-default" data-ng-show="patient && patient.hasBeenShared">
	    <div class="panel-heading">Révoquer les droits de quelqu'un de voir ce dossier</div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="form" data-ng-submit="revokeSomeoneRightToRecord();">
	            <div class="row" style="padding-top: 10px;">
	                <div class="col-xs-4" style="font-weight: bold;">Nom de famille de la personne</div>
	                <div class="col-xs-8" style="overflow: hidden;text-overflow: ellipsis;">
	                <input type="text" class="form-control" id="revokeName" data-ng-model="revokeName" required></div>
	            </div>
	         <div class="text-left" style="padding: 0px 15px 5px 15px;">
	             <button type="submit" class="btn btn-sm btn-primary btn-raised">Révoquer</button>
	         </div>
	        
	        </form>
	    </div>
	</div>

</section>
</div>