<div  class="container">
<div class="panel panel-default">
	<div class="panel-heading">Se connecter</div>
	<div class="panel-body">
	<form data-ng-submit="login();">
		<div class="alert alert-warning" ng-show="error!=''">
			<a href="#" class="close" aria-label="close" ng-click="closeError()">&times;</a>
			{{error}}
		</div>
		<div class="form-group">
			<label for="login">Identifiant:</label> <input type="text"
				class="form-control" id="login" data-ng-model="user.login">
		</div>
		<div class="form-group">
			<label for="pwd">Mot de passe:</label> <input type="password"
				class="form-control" id="pwd" data-ng-model="user.password">
		</div>
		<button type="submit" class="btn btn-success">Connexion</button>
	</form>
	</div>
</div>
</div>